body {color:#fff; font-family:'Pixelify Sans'; margin:0; padding:0px;}
    .post { border-bottom:1px solid #444; padding:20px 0; }
    .post img { max-width:100%; display:block; margin-bottom:10px; }
    .post-title { font-size:1.5rem; margin:0 0 5px; }
    .post-date { font-size:0.9rem; color:#aaa; margin-bottom:10px; }
.sidenav{
	position:fixed;
	width: 18vw;
	padding:0px;
	border:0px;
	border-top:1px solid white;
	border-bottom:1px solid white;
	height: 50vw;
	background-color:#161717;
}
.minibar{
	position:fixed;
	width: 1vw;
	padding:0px;
	border:0px;
	border-top:1px solid white;
	border-right:1px solid white;
	left:18vw;
	height: 50vw;
	background-color: #808080;
}
 hr{
	display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
    unicode-bidi: isolate;
    border-style: inset;
    border-width: 1px
 }
a {
	position:auto;
	text-decoration:none;
	color:white;
	
}
.main{
	color:white;
	padding-left:19vw
	background-color: black
	
}
.responsive  {
	width:90%;
	height:auto;
	padding-left: 5%
	
}
h1{
	font:3vw 'Pixelify Sans'
}
p{
	font:1.5vw 'Pixelify Sans'
}
